<Alloy>
    <Tab id="settings">
        <Window>
            <Label id="top_label" class="top bar"/>
            <Require type="view" id="query_start_date" src="setting"/>
            <Require type="view" id="query_end_date" src="setting"/>
            <Require type="view" id="server_name" src="setting"/>
            <Button id="back_button" class="back_button" onClick="eventHandlers.goToTables" />
            <Button id="logout_button" onClick="doLogout" />
            <Button id="reset_button" onClick="doReset" />
        </Window>
    </Tab>
</Alloy>
